.nav-class{
    height: auto;
}
.navbar {
    background-color: rgb(40,184, 237) !important;
}
.row{
    background-color: whitesmoke;
}
.hr{
    margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.custom-exit {
    color: white;
}
mat-icon{
    color: rgb(40,184, 237);
}

/*.my-text{
    color: rgb(193,194, 197);
}*/
