
    <div class="container">
            <div class="row">
             <div class="col-md-4 col-lg-4 col-sm-12">
              <div class="card" [routerLink]="['/employees']">
               <div class="card-body">
               <h4 class="card-title text-center"><mat-icon class="my-icon">event</mat-icon></h4>
               <h5 class="text-center my-text" >Campaign</h5>
               </div>
              </div>
             </div>
             <div class="col-md-4 col-lg-4 col-sm-12">
              <div class="card">
               <div class="card-body">
                 <h4 class="card-title  text-center"><mat-icon class="my-icon">record_voice_over</mat-icon></h4>
                 <h5 class="text-center my-text">Announcement</h5>
               </div>
              </div>
             </div>
             <div class="col-md-4 col-lg-4 col-sm-12">
              <div class="card">
               <div class="card-body">
               <h4 class="card-title text-center "><mat-icon class="my-icon">aspect_ratio</mat-icon></h4>
               <h5 class="text-center my-text">Theme</h5>
               </div>
              </div>
             </div>
             <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="card">
                     <div class="card-body">
                       <h4 class="card-title  text-center"><mat-icon class="my-icon">sms_failed</mat-icon></h4>
                       <h5 class="text-center my-text">Greeting Message</h5>
                     </div>
                    </div>
                   </div>
                   <div class="col-md-4 col-lg-4 col-sm-12">
                        <div class="card">
                         <div class="card-body">
                           <h4 class="card-title  text-center"><mat-icon class="my-icon">notifications</mat-icon></h4>
                           <h5 class="text-center my-text">Push/Inbox Notification</h5>
                         </div>
                        </div>
                       </div>
                       <div class="col-md-4 col-lg-4 col-sm-12">
                            <div class="card">
                             <div class="card-body">
                               <h4 class="card-title  text-center"><mat-icon class="my-icon">account_balance</mat-icon></h4>
                               <h5 class="text-center my-text">Bank List</h5>
                             </div>
                            </div>
                           </div>
             
        </div>
    </div>
       
