.blog .card{
    box-shadow: 0 0 20px #ccc;
   }
   .blog .card-title{
    color:#F97300;
     
   }
   .blog .card-body{
    padding: 5em;
    margin-top: 25px;
   }
   .my-icon {
     color: rgb(33, 181, 236);
     
   }
   