
    <div class="container">
     <div class="row">
      <div class="col-md-4 col-lg-4 col-sm-12">
       <div class="card" [routerLink]="['/employees']">
        <div class="card-body">
        <h4 class="card-title text-center"><mat-icon class="my-icon">recent_actors</mat-icon></h4>
        <h5 class="text-center" >Search Customer</h5>
        <p class="text-center my-text">Search,Management</p>
        </div>
       </div>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-12">
       <div class="card">
        <div class="card-body">
          <h4 class="card-title  text-center"><mat-icon class="my-icon">account_circle</mat-icon></h4>
          <h5 class="text-center">Register NEXT</h5>
          <p class="text-center my-text">Search,Management</p>
        </div>
       </div>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-12">
       <div class="card">
        <div class="card-body">
        <h4 class="card-title text-center "><mat-icon class="my-icon">settings-applications</mat-icon></h4>
        <h5 class="text-center">Configuration</h5>
        <p class="text-center my-text">Campaign Management</p>
        </div>
       </div>
      </div>
     </div>
    </div>
