.blog .card{
  box-shadow: 0 0 20px #ccc;
 }
 .blog .card-title{
  color:#F97300;
   
 }
 .blog .card-body{
  padding: 1em;
 }
 .my-icon {
   color: rgb(33, 181, 236);
   
 }
 .my-text{
   color: rgb(193, 194, 197);
 }